/PhdThesis/
/theorems/

/PhdThesis.tbz
/theorems.tbz
/pdfa.xmpi
/*.aux
/*.bbl
/*.bcf
/*.blg
/*.dvi
/*.dviF
/*.fdb_latexmk
/*.fls
/*.idx
/*.ilg
/*.ind
/*.lof
/*.log
/*.lot
/*.out
/*.pdf
/*.ps
/*.psF
/*.run.xml
/*.synctex
/*.synctex.gz
/*.toc
/*.xdv
/*~
